.progress-bar-container {
    /*width: 100%;*/
    /*height: 800px;*/
    /*padding-top: 70px;*/
    /*font-family: Arial, sans-serif;*/
    background: #78B951;
}

.progress-label {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /*margin-bottom: 100px;*/
    color: var(--primary-color);
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 500px;
    background-color: #ff4d4d;
    transition: width 0.3s ease-in-out;
}

.progress-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.progress-range {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-top: 5px;
}

.progress-bar-content {
    background-color: #ffe6dd;
    margin: 50px;
    border: 4px dashed #de4e29;
    border-radius: 10px;
    max-width: 800px;
    padding: 30px 50px;
    margin: 0 auto;
    text-align: center;
}

.age-content {
    margin-top: 20px;
    text-align: center;
}

.age-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin: 50px 0px;
}

.age-description {
    margin-bottom: 30px;
    font-size: 50px;
    color: var(--primary-color);
}

.graaaaas {
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*width: 3000px;*/
    /*height: 1200px;*/
    width: 100%;
    height: 800px;
    padding-top: 70px;
    font-family: Arial, sans-serif;
    background: url('../../assets/graaaas.png') center repeat;
    background-size: contain;
    /*z-index: 1;*/
}

.footer-grass-block img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top:-30px;
    margin-bottom: -50px;
}
